<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <title>Reminder App</title>
    <div class="flexForMe webTitle"><h1>Reminder</h1></div>
    <div class="flexForMe"><button onclick="document.location = '/'">Home</button></div>
</head>

<body>