<%- include('../partials/header') %>
<div class="flexForMe">
    <h1>What were you trying to remember? Log in to find out.</h1>
</div>
<div class="flexForMe">
    <button onclick="document.location = 'login'">Login</button>
    <button onclick="document.location = 'register'">Register</button>
</div>


<%- include('../partials/footer') %>