<%- include('../partials/header') %>
  <div>
    <div class="flexForMe">
      <h1>Here is your reminder!</h1>
    </div>
    <div class="flexForMe">
      <p>
        <%= reminder %>
      </p>
    </div>
    <div class="flexForMe">
      <button onclick="document.location = 'submit'">Submit a reminder</button>
    </div>
  </div>

  <%- include('../partials/footer') %>